In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("MOCK_DATA (3).csv")

In [3]:
df

,id,first_name,last_name,email,gender,ip_address
0,1,Cathrin,Prout,cprout0@ted.com,Male,8.26.130.166
1,2,Dana,Ive,dive1@msn.com,Female,181.74.57.165
2,3,Bernarr,Jeduch,bjeduch2@gnu.org,Female,147.151.191.247
3,4,Gunar,Pudge,gpudge3@alexa.com,Male,106.131.32.82
4,5,Bink,O'Regan,boregan4@hatena.ne.jp,Male,88.139.222.13
...,...,...,...,...,...,...
995,996,Maddie,Averies,maveriesrn@bluehost.com,Male,232.217.61.203
996,997,Corney,Eidelman,ceidelmanro@princeton.edu,Female,204.74.146.223
997,998,Averill,Dearn,adearnrp@ow.ly,Female,13.219.49.13
998,999,Porter,Kervin,pkervinrq@wikia.com,Female,185.246.207.202
999,1000,Aimee,Salmen,asalmenrr@pcworld.com,Male,195.86.240.45